{% extends "base_front.html.twig" %}
{% block body %}
<div id="slider">
 
  <div class="item">
  	<img src="images/slider.jpg" alt="The Last of us" class="img-responsive">
    <div class="container">
      <div class="row">
        <div class="col-md-6 slider-caption"><!-- slider caption-->
          <h1>Get An Insurance in minutes &amp; save upto 15%</h1>
          <p>Lorem maecenas tristique orci ac semduis ultricies pharetra magnadonec accumsan malesuada orci.</p>
          <a href="#" class="btn tp-btn tp-btn-orange"> Get Insurance Today</a> </div>
        <!-- /.slider caption--> 
      </div>
    </div>
  </div>
  <div class="item">
  	<img src="images/slider-2.jpg" alt="GTA V" class="img-responsive">
    <div class="container">
      <div class="row">
        <div class="col-md-6 slider-caption"><!-- slider caption-->
          <h1>Protect your family &amp; secure their life.</h1>
          <p>Praesent vitae turpis non sem malesuada tincidunt et ut metu turpis acinterdum metus. </p>
          <a href="#" class="btn tp-btn tp-btn-orange">Get A Quote</a> </div>
        <!-- /.slider caption--> 
      </div>
    </div>
  </div>
  <div class="item">
  	<img src="images/slider.jpg" alt="Mirror Edge" class="img-responsive">
    <div class="container">
      <div class="row">
        <div class="col-md-6 slider-caption"><!-- slider caption-->
          <h1>Protect your home with Peace Insurance</h1>
          <p>Lorem maecenas tristique orci ac semduis ultricies pharetra magnadonec accumsan malesuada orci.</p>
          <a href="#" class="btn tp-btn tp-btn-orange"> Get Insurance Today</a> </div>
        <!-- /.slider caption--> 
      </div>
    </div>
  </div>
 
</div>
<!-- Template Slider End -->
<div id="tp-product" class="tp-product section-space"><!-- Products start-->
  <div class="container">
    <div class="row">
      <div class="col-md-12 tp-title"><!-- section title-->
        <h1>Boostez votre Chiffre d’Affaire </h1>
        <p>Fidélisez vos Clients </p>
      </div>
      <!-- /.section title-->
      <div id="product">
        <div class="col-md-12 product-thumb item"> <!-- Product thumb-->
          <div class="grey-box">
            <h2><a href="#">Service client</a></h2>
            <p>Service client, demande de renseignement, hotline technique, SAV</p>
            <span class="icon"><i class="fa fa-car"></i></span></div>
        </div>
        <!-- /.Product thumb-->
        <div class="col-md-12 product-thumb item"><!-- Product thumb-->
          <div class="grey-box">
            <h2><a href="#">Etude Marketing</a></h2>
            <p>Terrain CATI, enquêtes de satisfaction, sondages, baromètres</p>
            <span class="icon"><i class="fa fa-home"></i></span> </div>
        </div>
        <!-- /.Product thumb-->
        <div class="col-md-12 product-thumb item"><!-- Product thumb-->
          <div class="grey-box">
            <h2><a href="#">Téléprospection</a></h2>
            <p>Génération de leads, détection d’opportunités, prise de Rendez-vous, qualification de fichiers, création de trafic sur point de vente</p>
            <span class="icon"><i class="fa fa-briefcase"></i></span></div>
        </div>
        <!-- /.Product thumb-->
        <div class="col-md-12 product-thumb item"><!-- Product thumb-->
          <div class="grey-box">
            <h2><a href="#">Fidélisation - Rétention</a></h2>
            <p>Scoring client, cellule de rétention, optimisation des scripts et technique de rétention, campagnes anti-churn</p>
            <span class="icon"><i class="fa fa-plane"></i></span></div>
        </div>
        <!-- /.Product thumb-->
        <div class="col-md-12 product-thumb item"><!-- Product thumb-->
          <div class="grey-box">
            <h2><a href="#">Service Client</a></h2>
            <p>Service client, demande de renseignement, hotline technique, SAV</p>
            <span class="icon"><i class="fa fa-heart"></i></span></div>
        </div>
        <!-- /.Product thumb-->
        <div class="col-md-12 product-thumb item"><!-- Product thumb-->
          <div class="grey-box">
            <h2><a href="#">Délégation Compétences</a></h2>
            <p> La garantie de la proximité active avec vos métiers, l’assurance de la synergie des équipes dédiées à vos projets.</p>
            <span class="icon"><i class="fa fa-lightbulb-o"></i></span></div>
        </div>
        <!-- /.Product thumb--> 
      </div>
    </div>
  </div>
</div>
<!-- /.Products close-->
<div class="tp-agent-section" id="tp-agent-section"><!-- agent section -->
  <div class="container">
    <div class="row">
      <div class="col-md-6 agent-caption"><!-- agent caption -->
        <h1>Trouvez le bon <span>agent de centre d'appel </span> pour vous aider avec tous vos besoins.</h1>
        
        <ul>
          <li><span>1</span> Trouvez un agent </li>
          <li><span>2</span> Selectionner un agent</li>
          <li><span>3</span> Travail résolut</li>
          <li><span>4</span> Noter l'agent</li>
        </ul>
        <a href="#" class="btn tp-btn-default tp-btn-orange">Trouver un agent</a> </div>
      <!-- /.agent caption --> 
    </div>
  </div>
</div>
<!-- /.agent section -->
<div class="tp-testimonial section-space"><!-- Testimonial -->
  <div class="container">
    <div class="row">
      <div class="col-md-12 circle-icon"><!-- circle icon -->
        <p><span class="quote-circle orange-quote"><i class="fa fa-quote-left"> </i> </span><span class=" quote-circle blue-quote"><i class="fa fa-quote-right "></i></span></p>
      </div>
      <!-- /.circle icon -->
      <div class="col-md-8 quote-ct"><!-- quote content -->
        <p class="quote-text">"Je n'ai que de bonnes choses à dire, le service était très bon et professionnel. Je vais référer ce service à tous ceux que je connais. Continuez votre bon travail. Dans cette économie, un excellent service professionnel est difficile à trouver."</p>
        <p class="name">Jassica Patricia C.</p>
        <span class="location">Los Angeles, CA</span> </div>
      <!-- /.quote content -->
      <div class="col-md-4 client-pic"><!-- client image --> 
        <img src="images/client.jpg" class="img-responsive img-circle" alt=""> </div>
      <!-- /.client image --> 
    </div>
  </div>
</div>
<!-- /.Testimonial -->
<div class="container-fluid section-space tp-cta-section"><!-- CTA section -->
  <div class="row">
    <div class="col-md-4 cta-box"> <!-- cta box--> 
      <i class="fa fa-paper-plane fa-3x"></i>
      <h2>Prêt à commencer?</h2>
      <p>De nombreux paquets de publication assistée par ordinateur et éditeurs de pages Web utilisent maintenant lorem Ipsum comme leur texte modèle par défaut et un psearch pour lorem ipsum.</p>
      <a href="#" class="btn tp-btn tp-btn-orange">Get Started Today</a> </div>
    <!-- /.cta box-->
    <div class="col-md-4 cta-box cta-box-medium"><!-- cta box--> 
      <i class="fa fa-inbox fa-3x"></i>
      <h2>Déposer votre demande</h2>
      <p>Phasellus lectus elit tincidunt ac erat ettristique vestibulum diamuam malesuada augue euismod odio congue dictum. </p>
      <a href="#" class="btn tp-btn tp-btn-orange">Claim Center</a> </div>
    <!-- /.cta box-->
    <div class="col-md-4 cta-box"><!-- cta box--> 
      <i class="fa fa-umbrella fa-3x"></i>
      <h2>Soutien 24/7</h2>
      <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      <a href="#" class="btn tp-btn tp-btn-orange">FAQ's</a></div>
    <!-- /.cta box--> 
  </div>
</div>
<!-- CTA section -->
<div id="tp-partner-section" class="tp-partner-section section-space"><!-- template partner-->
  <div class="container">
    <div class="row">
      <div class="col-md-12 tp-title"><!-- template title -->
        <h1>Nos Partenaires</h1>
      </div>
      <!-- template title --> 
    </div>
    <div class="row">
      <div class="col-md-3 logo-thumb"><!-- logo thumb --> 
        <img src="images/partner-logo.jpg" class="desaturate img-responsive" alt="Our insurance partner Company logo"> </div>
      <!-- /.logo thumb -->
      <div class="col-md-3 logo-thumb"><!-- logo thumb --> 
        <img src="images/partner-logo-2.jpg" class="desaturate img-responsive" alt="Our insurance partner Company logo"> </div>
      <!-- /.logo thumb -->
      <div class="col-md-3 logo-thumb"> <!-- logo thumb --><img src="images/partner-logo-3.jpg" class="desaturate img-responsive" alt="Our insurance partner Company logo"> </div>
      <!-- /.logo thumb -->
      <div class="col-md-3 logo-thumb"> <!-- logo thumb --><img src="images/partner-logo-4.jpg" class="desaturate img-responsive" alt="Our insurance partner Company logo"> </div>
      <!-- /.logo thumb --> 
    </div>
  </div>
</div>
<!-- /.template partner-->
<!-- Newsletter -->
{% endblock %}
